body{
    font-family: 'DM Sans', Inter, Roboto, sans-serif;
    font-style: normal;
    background-color: #555566;
    color: #EEEEED;
  }
  h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: 400;
  }
  a{
    text-decoration: none;
  }
  
  /* custom css */
  .navbar{
    font-family: Inter, Roboto, sans-serif;
    font-style: normal;
    background-color: #555566;
    color: #FFF;
    
  }
  .navbar .navbar-toggler{
    border: none;
  }

  /* feature-section */
  #feature-section{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 500px){
    #feature-section img{
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 500px){
    #feature-text{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  #feature-section h1{
    font-family: Anton, 'DM Sans', Inter, Roboto, sans-serif;
    text-transform: uppercase;
    color: #EEEEED;
    font-size: 68px;
  }
  @media screen and (max-width: 500px){
    #feature-section h1{
      font-size: 36px;
    }
  }
  #social-icon span{
    margin-right: 15px;
  }
  #social-icon .fa-brands, .fa-envelope{ 
    color: #EEEEED;
    font-size: large;
  }
  
  /* footer */
  footer{
    font-family: 'DM Sans', Inter, Roboto, sans-serif;
    font-size: small;
    font-weight: 200;
  }
footer a{
  color: #EEEEED;
}
footer a:hover{
  color: #FFF;
}
